<h3>Vnav.io World Records API Docmentation</h3>
Valid ships (Type: String): <code>Alien Blaster, Annihilator, Artillery, Eagle, Astronaut, Auto 4, Auto 5, Barricade, Basic, Bat, Bomber, Boomerang, Boomertwin, Booster, Boosterflip, Builder, Bushwacker, Carrier, Conqueror, Cruiser, Demolisher, Drone Addict, Drone Trapper, Dual, Factory, Fighter, Flank Guard, Fortress, Galaxian, Gunner, Gunner Trapper, Hulk, Hunter, Hybrid, Machine Gun, Mega 3, Necromancer, Octo Ship, Falcon, Overboomerang, Overgunner, Overlord, Polyballs, Power Glider, Predator, Quad Ship, Quad-builder, Quadlet, Quintlet, Ranger, Savage, Skimmer, Sniper, Space Jet, Spike, Sprayer, Sputnik, Stradblock, Streamliner, Surfer, Trappershot, Trappetytrap, Triple Twin, Triplet, Twin Flank, Twin Laser, UFO</code><br>
<br>
Valid modes (Type: String): <code>FFA, 2 Teams</code><br>
<br>
Valid categories (Type: String): <code>Fast 500k, Fast 1m, Fast 1.5m, High Score</code><br>
<br>
Valid places (Type: String): <code>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, Mobile 1st, Mobile 2nd, Mobile 3rd</code><br>
<br>
<h4>Example Post to <a href="https://vnavwr.squidsquidsquid.repl.co/api">api</a>:</h4>
<pre><code>{
    "ship": "Hybrid",
    "mode": "FFA",
    "category":"High Score",
    "place": "1"
}</code></pre>
<br>
<h4>Example Response:</h4>
<pre><code>{
    "user_id": "197101646507933698",
    "score": "1234567",
    "link": "https://findingfakeurlsisprettyhard.tv",
    "hours": 1,
    "minutes": 2,
    "seconds": 3
}</pre></code>
<br>
<br>
If there is no current record for said parameters, all values are defaulted to 0.<br>